.page-title,
.page-subtitle,
.page-content {
    color: white;
    text-align: center;
}

.page-title{
    font-size: 1.8rem;
    color: #768AEE;
}

.page-subtitle {
    font-size: 1.2rem;
}

.page-content {
    font-size: 1rem;
}

.page-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.page-section>button{
    color: white;
    padding: 6px 8px;
    font-size: 1.2rem;
    margin: 1rem auto;
    border-radius: 1rem;
    width: 100%;
    background-color: #768AEE;
    font-weight: bold;
}