.lobby-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
    padding: 0 1rem;
    margin-top: 1rem;
}


.lobby-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.add-players {
    border: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 0.5rem;
}

.add-players>input {
    padding: 8px 12px;
    border-radius: 1rem;
    border: 1px solid #90AFFF;
    width: 100%;
    font-size: 1.5rem;

}

.add-players>button {
    padding: 8px 12px;
    border-radius: 1rem;
    border: 1px solid #90AFFF;
    color: white;
    font-family: "Alumni Sans", sans-serif;
    font-size: 1.5rem;
    background-color: #90AFFF;
}


.players-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-inline: 1rem;
    gap: 4rem;
}

.players-list>li {
    list-style: square;
    font-size: 2rem;
    padding: 1px;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.start-btn {
    width: 100%;
    background-color: #90AFFF;
    padding: 10px 8px;
    border-radius: 1rem;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.start-msg {
    color: white;
    font-size: 2rem;
    margin: auto;
}

.landing-page {
    text-decoration: none;
    color: white;
    padding: 10px 8px;
    border-radius: 1rem;
    border: 1px solid white;
    font-size: 1.5rem;
    color: white;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}